defaults: &defaults
  offers:
    web_message: '//*[@id="web_mensagem"]/p'
    there_is_no_offer: 'Não existe oferecimento para a sigla '
    separator: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[6]/tr/td/table'
    faculty_name: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[3]/tr[1]/td/b/font/span'
    cycle_name: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[3]/tr[3]/td/b/font/span'
    course: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[3]/tr[5]/td/font/span/b'
    class_code: 'tr[1]/td[2]/font/span'
    start_date: 'tr[2]/td[2]/font/span'
    end_date: 'tr[3]/td[2]/font/span'
    class_type: 'tr[4]/td[2]/font/span'
    observations: 'tr[5]/td[2]/font/span'
  faculties:
    main_table: '//*[@id="layout_conteudo"]/table[2]/tr'
    other_entities_table: '//*[@id="layout_conteudo"]/table[4]/tr'
  single_faculty:
    name: '//*[@id="layout_conteudo"]/table[1]/tr/td/font/span/b'
    campus: '//*[@id="layout_conteudo"]/table[2]/tr/td/font/span'
    warning_message: '//*[@id="layout_conteudo"]/table[1]/tr/td/font/span[contains(@class, "txt_verdana_10pt_red")]'
    there_is_no_offer: 'Não existe curso/habilitação cadastrado para a Unidade'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
