defaults: &defaults
  offers:
    web_message: '//*[@id="web_mensagem"]/p'
    there_is_no_offer: 'Não existe oferecimento para a sigla '
    separator: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[6]/tr/td/table'
    faculty_name: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[3]/tr[1]/td/b/font/span'
    cycle_name: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[3]/tr[3]/td/b/font/span'
    course: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[3]/tr[5]/td/font/span/b'
    class_code: 'tr[1]/td[2]/font/span'
    start_date: 'tr[2]/td[2]/font/span'
    end_date: 'tr[3]/td[2]/font/span'
    class_type: 'tr[4]/td[2]/font/span'
    observations: 'tr[5]/td[2]/font/span'
  faculties:
    main_table: '//*[@id="layout_conteudo"]/table[2]/tr'
    other_entities_table: '//*[@id="layout_conteudo"]/table[4]/tr'
  single_faculty:
    name: '//*[@id="layout_conteudo"]/table[1]/tr/td/font/span/b'
    campus: '//*[@id="layout_conteudo"]/table[2]/tr/td/font/span'
    warning_message: '//*[@id="layout_conteudo"]/table[1]/tr/td/font/span[contains(@class, "txt_verdana_10pt_red")]'
    there_is_no_offer: 'Não existe curso/habilitação cadastrado para a Unidade'
  cycles:
    cycles_table: '//*[@id="layout_conteudo"]/table[3]/tr'
  cycle:
    name: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td/table[3]/tr/td/font[2]/span'
    start_date: '//*[contains(text(), "Data de Início:")]/ancestor::td[1]/following-sibling::td[1]/font/span'
    observations_text: '//*[contains(text(), "Observações:")]/ancestor::tr[1]/following-sibling::tr/descendant::font/span/child::text()'
    ideal_duration: "//span[normalize-space(text()) = 'Ideal']/ancestor::td[1]/following-sibling::td[1]/font/span"
    content_table: '//*[@id="layout_conteudo"]/table[1]/tr[4]/td/form/table/tr[1]/td'
    minimum_duration: "//span[normalize-space(text()) = 'Mínima']/ancestor::td[1]/following-sibling::td[1]/font/span"
    maximum_duration: "//span[normalize-space(text()) = 'Máxima']/ancestor::td[1]/following-sibling::td[1]/font/span"
    workload_table: "//*[normalize-space(text()) = 'Carga Horária']/ancestor::table[1]/tr"
    specific_information: "//*[normalize-space(text()) = 'Informações Específicas']/ancestor::tr[1]/following-sibling::tr[2]"
    courses_table: "//*[normalize-space(text())='Disciplinas Obrigatórias']/ancestor::table[1]/tr"
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
